* {
    font-family: 'Fraunces', serif;
    color: #fff;
}

body {
    margin: 0;
    background-color: #224870;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora {
    display: grid; /* Crea la grilla para los botones */
    grid-template-columns: repeat(4, 75px); /* la grilla tendrá 4 columnas, que se repiten debajo, cada col tendrá 75px */
    grid-template-rows: 160px repeat(5, 75px); /* alto total del display*/
    background-color: #00916e;
    padding: 15px;
    border-radius: 32px;
    box-shadow: 15px 10px 0px 5px #00000033;
}